<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="pull-right hide-phone">
					<a href="https://www.youtube.com/channel/UCYkGigLyqTl3I-1yXENApnA?view_as=subscriber">Website Developers Pakistan</a>
				</div>
				<div>
					<strong>Quizbee</strong> - Copyright © @DateTime.Now.Year
				</div>

			</div>
		</div>
	</div>
</footer>