
<div id="element"></div>


<script src="~/Content/js/Smily/emotion-ratings.js"></script>

<script>
    var emotionsArray = ['angry', 'disappointed', 'meh', 'happy', 'inlove'];
    $("#element").emotionsRating({
        emotionSize: 100,
        bgEmotion: 'happy',
        emotions: emotionsArray,
        color: 'red',
        inputName: 'smileyrating'
    });
</script>

