<style>
    .shadow-textarea textarea.form-control {
        padding-left: 0.8rem;
    }
</style>


    <div class="form-group shadow-textarea">
        <label for="TextAria">Give Your Answer:</label>
        <textarea class="form-control z-depth-1" id="textaria" rows="4" col="50" placeholder="Write something here..."></textarea>
    <br />
        <button type="submit" id="textaria" class="btn btn-info" style="border-radius:12px">Submit</button>
    </div>
